
.meinMenuLink {
  font-weight: bold;
  font-size: 36px;
  margin-left: 120px;
  color: black;
  text-decoration: none;
  transition: 0.5s linear;
  list-style: none;
}
.meinMenuLink:hover {
  background: lightyellow;
}
.meinMenuLink:global(.active) {
  color: red;
}
.list_item {
  display: flex;
  align-items: center;
}

