.img {
  display: block;
  height: 600px;
  width: 900px;
  align-items: center;
}
.error {
  display:  flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.errorMessage{
  text-align: center;
}
.link {
  size: 56px;
}
.error_container{
  margin: 0 auto;
}